@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
    background-image: url('https://wallpapercave.com/wp/wp6689710.jpg');
    background-size: cover;
    background-position: center;
  }

.backgroundImage2 {
    background-image: url('https://wallpapercave.com/wp/wp12411239.jpg');
    background-size: cover;
    background-position: center;
  }

